@import "tailwindcss";

:root {
  /* Backgrounds */
  --bg-1: #1C1C1C;
  /* Text */
  --text-1: #ffffff;
}
body {
  font-family: 'Google Sans', sans-serif;
}

@layer base {
  body {
    background: var(--bg-1);
    color: var(--text-1);
    min-height: 100vh;
    transition: background 0.3s ease, color 0.3s ease;
  }

  button {
    cursor: pointer;
  }

  input {
    background-color: var(--bg-3);
    color: var(--text-1);
  }
  input[type="date"] {
    color-scheme: dark;
  }

  /* Autofill fix (Chrome) */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: var(--text-1) !important;
    caret-color: var(--text-1);
    transition: background-color 9999s ease-in-out 0s;
  }
}

@layer utilities {

  /* No scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  /* Custom scrollbar */
  .scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 7px;
    background: var(--bg-2);
    border-radius: 30px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-4);
    border-radius: 50px;
  }
}
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 5s linear forwards;
}